# Core functionality - changes here should be rare!
/src/app.py                   @heiswillz98
/src/backend/database.py      @heiswillz98
/src/backend/routers/auth.py  @heiswillz98

# The frontend will need refactored soon to be more object oriented.
/src/static/   @heiswillz98
